:root {
  --primary: #2c363f;
  --primary-light: #55606a;
  --primary-dark: #021019;
  --secondary: #e75a7b;
  --secondary-light: #ff8caa;
  --secondary-dark: #b0244f;
  --text-on-p: rgba(255, 255, 255, 0.87);
  --text-on-p-large: rgba(255, 255, 255, 0.90);
  --text-on-s: rgba(0, 0, 0, 0.87);
  --text-on-s-large: rgba(0, 0, 0, 0.90);
}

.App {
  display: grid;
  grid-template-areas:
    'aside header'
    'aside main';
  grid-template-columns: 20vw auto;
  grid-template-rows: 70px auto;
  height: 100vh;
  color: var(--text-on-p);
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  color: var(--text-on-p);
  font-size: calc(10px + 2vmin);
  padding-right: 1vw;
}

.Logobox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--text-on-p-large);
}

.App-logo {
  height: 70px;
  padding-right: 10px;
  pointer-events: none;
}

/* nav {} */

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: var(--primary);
  max-height: 100vh;
}

.Searchbar {
  box-sizing: border-box;
  height: 70px;
  padding: 15px;
  flex-shrink: 0;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  border: 0;
  padding: 5px;
  padding-left: 20px;
  background-color: white;
}

.TurtleList::-webkit-scrollbar {
  display: none;
}

.TurtleList {
  align-self: stretch;
  max-height: inherit;
  color: var(--text-on-p);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.TurtleEntry {
  min-height: 7vh;
  font-size: calc(10px + 1vmin);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

.TurtleEntry:hover {
  background-color: var(--primary-light);
}

.selected {
  background-color: var(--secondary);
  color: var(--text-on-s);
}

.selected:hover {
  background-color: var(--secondary);
  color: var(--text-on-s);
}

main {
  grid-area: main;
  position: relative;
}

.ControlPanel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.UpDown {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  box-sizing: border-box;
  font-size: calc(10px + 2vmin);
  background-color: var(--secondary);
  border: none;
  width: 100px;
  height: 100px;
  color: var(--text-on-s-large);
  border-radius: 25px;
}

button:hover {
  background-color: var(--secondary-light);
}
