:root {
  --green: #1b5e1f;
  --green-selected: #2e7d31;
  --white: #E8E5DA;
  --black: #14080E; 
  --text: white;
}

.App {
  display: grid;
  grid-template-areas:
    'aside header'
    'aside main';
  grid-template-columns: 20vw auto;
  grid-template-rows: 70px auto;
  height: 100vh;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green);
  font-size: calc(10px + 2vmin);
  padding-left: 1vw;
  padding-right: 1vw;
}

nav {}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  /* background-image: linear-gradient(to bottom right, #43b692, #099773); */
  background-color: var(--green);
  max-height: 100vh;
}

.Searchbar {
  box-sizing: border-box;
  height: 70px;
  padding: 15px;
  flex-shrink: 0;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  border: 0;
  padding: 5px;
  padding-left: 20px;
  background-color: var(--text);
}

.TurtleList::-webkit-scrollbar {
  display: none;
}

.TurtleList {
  align-self: stretch;
  max-height: inherit;
  color: var(--text);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.TurtleEntry {
  min-height: 7vh;
  font-size: 1.35em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

.selected {
  background-color: var(--green-selected);
  /* background-image: linear-gradient(to bottom right, #0b3866, #95f9c3); */
}

main {
  grid-area: main;
  position: relative;
}

.ControlPanel {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

button {
  font-size: calc(10px + 2vmin);
}

